/* HEADER AND NAV STYLING */
header {
    position: relative;
    width: 100%;
    z-index: 999;
    display: flex;
}
header svg {
    margin-left: 24px;
    margin-top: 1.5em;
}
.nav-toggle {
    display: none;
    position: absolute !important;
    top: -9999px !important;
    right: -9999px !important;
}
.nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 24px;
    margin-top: .75em;
}
.nav-toggle-label span,
.nav-toggle-label span:before,
.nav-toggle-label span:after {
    display: block;
    background-color: #FFFFFF;
    height: 2px;
    width: 24px;
    position: relative;
}
.nav-toggle-label span:before,
.nav-toggle-label span:after {
    content: '';
    position: absolute;
}
.nav-toggle-label span:before {
    bottom: 6px;
}
.nav-toggle-label span:after {
    top: 6px;
}
header nav {
    position: absolute;
    text-align: left;
    top: 100%;
    right: 0;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    background-color: #fff;
    -webkit-clip-path: polygon(0 8%, 92% 8%, 100% 0%, 100% 99%, 0 100%, 0 43%);
    clip-path: polygon(0 8%, 92% 8%, 100% 0%, 100% 99%, 0 100%, 0 43%);
    width: 329px;
    margin-right: 24px;
}
nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 63px 24px 33px 24px;
}
nav li {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    color: #808397;
    font-weight: 600;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    margin-bottom: 33px;
}
nav li:nth-child(4) {
    width: 140px;
    height: 56px;
    background-color: #FBD600;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}
nav li:nth-child(4) a {
    font-family: 'Fraunces';
    font-size: 15px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}
.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}
.nav-toggle:checked ~ nav li {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms
}
/* HERO STYLING */
.hero {
    background-image: url('images/mobile/image-header.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 80vh;
}
.hero-h1-svg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 88px;
}
.hero-h1-svg h1 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: clamp(2.222rem, 2vw + 1.75rem, 3.111rem);
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1562px;
    margin-bottom: 52px;
}
/* BLOCK ONE STYLING 
    TRANSFORM YOUR BRAND & STAND OUT AUDEINCE */
.block-one {
    display: flex;
    flex-direction: column;
}
.tfb-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 64px 24px;
    position: relative;
}
.tfb-content h2{
    font-family: 'Fraunces', serif;
    color: #24303E;
    font-size: clamp(1.778rem, 1vw + 1.5rem, 2.222rem);
    font-weight: 900;
    text-align: center;
    margin-bottom: 24px;
}
.tfb-content p {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    color: #808397;
    line-height: 30px;
    text-align: center;
    margin-bottom: 29px;
}
.tfb-content .learn-more-link {
    font-family: 'Fraunces', serif;
    color: #24303E;
    font-weight: 700;
    text-transform: uppercase;
}
.learn-more-link.transform::after {
    content: '';
    display: flex;
    height: 10px;
    width: 127px;
    background: #FAD400;
    position: absolute;
    bottom: -8px;
    margin-left: -8px;
    border-radius: 28px;
    opacity: .25;
}
.sta-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 64px 24px;
    position: relative;
}
.sta-content h2{
    font-family: 'Fraunces', serif;
    color: #24303E;
    font-size: clamp(1.778rem, 1vw + 1.5rem, 2.222rem);
    font-weight: 900;
    text-align: center;
    margin-bottom: 24px;
}
.sta-content p {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    color: #808397;
    line-height: 30px;
    text-align: center;
    margin-bottom: 29px;
}
.sta-content .learn-more-link {
    font-family: 'Fraunces', serif;
    color: #24303E;
    font-weight: 700;
    text-transform: uppercase;
}
.learn-more-link.audience::after {
    content: '';
    display: block;
    height: 10px;
    width: 127px;
    background: #FE7766;
    position: absolute;
    bottom: -8px;
    margin-left: -8px;
    border-radius: 28px;
    opacity: .25;
}
/* GRAPHIC DESIGN AND PHOTOGRAPHY SECTIONS STYLING */
.block-two {
    display: flex;
    flex-direction: column;
    min-height: 0;
    min-width: 0;
}
.block-two .graphic-design {
    background-image: url('images/mobile/image-graphic-design.jpg');
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.graphic-design .gd-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 59px;
}
.graphic-design .gd-content h3{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 28px;
    color: #24554A;
    margin-bottom: 33px;
    line-height: 34px;
    text-transform: capitalize;
}
.graphic-design .gd-content p {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #24554A;
    line-height: 27px;
    text-align: center;
}
/* PHOTOGRAPHY BLOCK STYLING */
.block-two .photography {
    background-image: url('images/mobile/image-photography.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 600px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.photography .photo-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 59px;
}
.photography .photo-content h3{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 28px;
    color: #052C3B;
    opacity: .75;
    margin-bottom: 33px;
    line-height: 34px;
}
.photography .photo-content p {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #19536C;
    line-height: 27px;
    text-align: center;
}
/* CLIENT TESTIMONIALS BLOCK */
.client-testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 86px;
    padding-left: clamp(24px, 2vw + 1rem, 165px);
    padding-right: 24px;
}
.client-testimonials .testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.client-testimonials .thomas-s {
    margin-top: 64px;
    margin-bottom: 64px;
}
.client-testimonials h3 {
    font-family: 'Fraunces', serif;
    font-size: clamp(1rem, 4vw - 1rem, 1.25rem);
    font-weight: 900;
    text-transform: uppercase;
    color: #A7AAAD;
    margin-bottom: 68px;
    letter-spacing: 3px;
}
.testimonial img {
    border-radius: 100%;
}
.testimonial p {
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #5B636D;
    line-height: 32px;
    padding-top: 32px;
    padding-bottom: 28px;
}
.testimonial h4 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 18px;
    color: #24303E;
    padding-bottom: 12px;
}
.testimonial .job {
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #A7AAAD;
}
/* IMAGE GALLERY */
.image-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
footer {
    background-color: #90D4C6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 64px 39px 80px 39px;
}
footer svg {
    margin-bottom: 40px;
}
footer svg path {
    fill: #2C7566;
}
footer .footer-links {
    margin-bottom: 91px;
}
.footer-links ul {
    display: flex;
    flex-direction: row;
}
.footer-links li {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #458D7E;
}
.footer-links ul li:nth-child(2) {
    margin: 0 58px;
}
footer .social-icons {
    display: flex;
    flex-direction: row;
}
.social-icons svg:nth-child(2) {
    margin-left: 28px;
    margin-right: 28px;
}
.social-icons svg:nth-child(3) {
    margin-right: 28px;
}
@media screen and (min-width: 376px) {
    .hero {
        background-image: url('images/desktop/image-header.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 80vh;
    }
}
@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }
    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    header nav {
        all: unset;
        grid-column: 4 / 5;
        justify-content: flex-end;
    }
    header svg {
        align-self: center;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        align-self: center;
    }
    nav li {
        opacity: 1;
        margin: 0;
        color: #fff;
        margin-right: 47px;
    }
    nav li:nth-child(4){
        background-color: rgba(255, 255, 255, 1);
        transition: all 300ms ease-in;
        margin-right: 0;
    }
    nav li:nth-child(4):hover {
        background-color: rgba(255, 255, 255, .25);
        cursor: pointer;
    }
    nav li:nth-child(4):hover a {
        color: #fff;
    }
    .block-one {
        display: flex;
        flex-direction: column;
    }
    .transform-your-brand {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .transform-your-brand img {
        grid-column: 2;
        max-width: 100%;
    }
    .transform-your-brand .tfb-content {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .tfb-content h2 {
        align-self: flex-start;
    }
    .tfb-content a {
        align-self: flex-start;
    }
    .tfb-content p {
        text-align: left;
    }
    .transform-your-brand .learn-more-link.transform::after {
        content: '';
        display: flex;
        height: 10px;
        width: 127px;
        background: #FAD400;
        position: static;
        bottom: 190px;
        margin-left: -8px;
        margin-bottom: -8px;
        border-radius: 28px;
        opacity: .25;
        transition: opacity 300ms ease;
    }
    .learn-more-link:hover {
        cursor: pointer;
    }
    .transform-your-brand .learn-more-link.transform:hover::after {
        opacity: 1;
    }
    .stand-out-audience {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .sta-content {
        margin: 0;
    }
    .stand-out-audience .learn-more-link.audience::after {
        content: '';
        display: flex;
        height: 10px;
        width: 127px;
        background: #FE7766;
        position: static;
        bottom: 190px;
        margin-left: -8px;
        margin-bottom: -8px;
        border-radius: 28px;
        opacity: .25;
        transition: opacity 300ms ease;
    }
    .stand-out-audience .learn-more-link.audience:hover::after {
        opacity: 1;
    }
    .block-two {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }
    .client-testimonials {
        margin: calc(155px / 2) calc(165px / 2) calc(160px / 2) calc(165px / 2);
    }
    footer .footer-links a:hover{
        color: #fff;
        cursor: pointer;
    }
    footer .social-icons svg {
        cursor: pointer;
    }
    footer .social-icons svg:hover path {
        fill: #fff;
    }
}
@media screen and (min-width: 1000px) {
    .image-gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
    .client-testimonials {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr)) ;
        grid-template-rows: auto 1fr;
        -moz-column-gap: 30px;
             column-gap: 30px;
        margin: 155px 165px 160px 165px;
        padding: 0;
    }
    .client-testimonials h3 {
        grid-row: 1;
        grid-column: 2;
        justify-self: center;
        text-align: center;
    }
    .client-testimonials .emily-r {
        grid-column: 1;
        grid-row: 2;
    }
    .client-testimonials .thomas-s {
        grid-column: 2;
        grid-row: 2;
        margin: 0;
    }
    .client-testimonials .jennie-f {
        grid-column: 3;
        grid-row: 2;
    }
    .client-testimonials .testimonial p {
        padding-top: 58px;
        padding-bottom: 65px;
    }
}
@media screen and (min-width: 1200px) {

    .block-two .graphic-design {
        background-image: url('images/desktop/image-graphic-design.jpg');
        background-size: cover;
    }
    .block-two .photography {
        background-image: url('images/desktop/image-photography.jpg');
        background-size: cover;
    } 
}